p#pogrubione_hushcha
{
  font-size:32px;
  color:#7E59D4;
}

p#pochylona_hushcha
{
  font-size:37pt;
  color:#E2BD70;
}

p#index_gorny_hushcha
{
  font-size:1,2cm;
  color:#928B20;
}

p#index_dolny_hushcha
{
  font-size:1.9cm;
  color:rgb(18%, 94%, 91%);
}
p#mono_hushcha
{
  font-size:42px;
  color:#12DB70;
}


p#powiekszenie_hushcha
{
  color:#4C3BA2;
}

p#pomniejszenie_hushcha
{
  color:rgb(69%, 62%, 24%);
}
