h3 {  
        width: 300px; 
         height:3cm; 
         padding    : 20px; 
        margin-left     : 1%; 
        border     : 10px groove gray; 
        background : rgb(100,100,100); 
		color : #808080;
    } 
	/* hushcha darya 1p g1 */