       <style type="text/css"> 
         div#blok1_kowalski {background-color: 00ff00;width:660px;} 
         div#blok2 {background-color: 00ff00;width:660px;} 
         div#blok3 {background-color: 00ff00;width:660px;} 
         div#blok1_kowalski:hover {background-color: ffff00;font-size:20mm;} 
		 div#blok2:hover {background-color: ffff00;font-size:20mm;}
		 div#blok3:hover {background-color: ffff00;font-size:20mm;}
         </style> 
